<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="widtb=device-width initial-scale=1.0">
<title> Debtor Mangement System </title>
</head>
<body>
	<h1> Welcome to Debtor Management System </h1>
	<p> Keep track of your debtors, settle debts, and maintain a clear record. </p>

	<p> Manage Your debtors efficiently with our system <p>
	<button><a href="{{url_for('register') }}"> Get Started </a></button>
	<p> Or Login </p>
	<button><a href="{{url_for('login') }}"> Get Started </a></button>
	<h2> About DMS </h2>
	<p> DMS is a project I designed to help business men track their debtors easily and safely store them with us. No need of paper stress anymore, you don't need to fear rats eating away your debtor records and your debtors running away because you've got no evidence. Here at DMS, we help you avoid that. Join DMS now. <p>

	<h2> About Ij </h2>
	<p> Ij created DMS as part of his Portfolio project project. follow him up on his social media to know more about him </p>

	<footer>
		<p> Link up with me on </p>
		<ul>
		<li> <a href="https://twitter.com/Ibrahim44744268"> twitter </a> </li>
		<li> <a href="https://discord.com/users/:prince_ij"> Discord </a> </li>
		<li> <a href="https://www.linkedin.com/in/ibrahim-aminu-547009244" > Linkedln </a> </li>
		</ul>
	</footer>

</body>
</html>
